{% extends 'base/base.html' %}

{% block content %}




  <div class="container">

    <form class="date-filter" method="get" action="{% url 'credit_sales_page' %}">
      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date" value="{% if not start_date %}{{ today_date }}{% else %}{{ start_date|date:'Y-m-d' }}{% endif %}">

      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" value="{% if not end_date %}{{ today_date }}{% else %}{{ end_date|date:'Y-m-d' }}{% endif %}">

      <button type="submit">Filter</button>
    </form>

    <h2 class="section-title">Satış Bilgileri</h2>

    <input type="text" id="searchInput" placeholder="İsim veya Ürün Ara">
    <button onclick="searchTable()">Ara</button>
    
    <button onclick="exportToExcel()">Excel'e Aktar</button>

    <table class="data-table sales-info-table" id="salesTableSummary">
      <tr>
        <td>Total Yapılan Satış</td>
        <td>Ürünlerin Toplam Maliyeti</td>
        <td>Total Satıştan Yapılan Kar</td>
      </tr>
      <tr>
        <td><span id="totalProfitAmount" ></span> $</td>
        <td><span id="totalPurchaseAmount" ></span> $</td>
        <td><span id="totalSaleAmount"></span>  $</td>
      </tr>
    </table>
  


    <table class="data-table sales-info-table" id="salesTable">
      <thead>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <tr>
          <th>İsim</th>
          <th>telefon numarası</th>
          <th>Ürün</th>
          <th>Miktar</th>
          <th>Toplam Kar</th>
          <th>Alış Tutarı</th>
          <th>Satış Tutarı</th>
          <th>Ödeme Şekli</th>
          <th>Tarih</th>
        </tr>
      </thead>
      <tbody>
        {% for sale_info in sales_table %}
          <tr>
            <td>{{ sale_info.salesperson_name }}</td>
            <td>{{sale_info.sales_person_tel}}</td>
            <td>{{ sale_info.product_name }}</td>
            <td>{{ sale_info.quantity_sold }}</td>
            <td>{{ sale_info.sale_amount }}</td>
            <td>{{ sale_info.product_price }}</td>
            <td>{{ sale_info.product_sold_price }}</td>
            <td>
                {% if sale_info.borca %}
                    Cari
                {% else %}
                    Nakit
                {% endif %}
            </td>
            <td>{{ sale_info.sold_date }}</td>
          </tr>
        {% endfor %}
      </tbody>      
    </table>
    
    <!-- Toplamı Gösterme Bölümü -->
   
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        var searchInput = $('#searchInput');
        var salesTable = $('#salesTable tbody');
        var totalSaleAmountSpan = $('#totalSaleAmount');
        var totalPurchaseAmountSpan = $('#totalPurchaseAmount');
        var totalProfitAmountSpan = $('#totalProfitAmount');
    
        searchInput.on('input', function () {
          searchTable();
        });
    
        function searchTable() {
          var filter = searchInput.val().toUpperCase();
          salesTable.find('tr').each(function () {
            var row = $(this);
            var tdList = row.find('td');
            var found = false;
            tdList.each(function () {
              var td = $(this);
              var txtValue = td.text().toUpperCase();
              if (txtValue.indexOf(filter) > -1) {
                found = true;
                return false; // Break the inner loop
              }
            });
            if (found) {
              row.show();
            } else {
              row.hide();
            }
          });
    
          updateTotalAmounts(); // Arama sonrasında toplam tutarları güncelle
        }
    
        function updateTotalAmounts() {
          var totalSaleAmount = 0;
          var totalPurchaseAmount = 0;
          var totalProfitAmount = 0;
    
          salesTable.find('tr:visible').each(function () {
            var quantity = parseFloat($(this).find('td:eq(3)').text()); // 3, miktar sütununun sırasını temsil eder
            var saleAmount = parseFloat($(this).find('td:eq(4)').text()); // 4, satış tutarı sütununun sırasını temsil eder
            var purchaseAmount = parseFloat($(this).find('td:eq(5)').text()); // 5, alış tutarı sütununun sırasını temsil eder
            var profitAmount = parseFloat($(this).find('td:eq(6)').text()); // 6, toplam kar sütununun sırasını temsil eder
    
            if (!isNaN(quantity) && !isNaN(saleAmount)) {
              totalSaleAmount += saleAmount;
            }
    
            if (!isNaN(quantity) && !isNaN(purchaseAmount)) {
              totalPurchaseAmount += quantity * purchaseAmount;
            }
    
            if (!isNaN(quantity) && !isNaN(profitAmount)) {
              totalProfitAmount += quantity * profitAmount;
            }
          });
    
          totalSaleAmountSpan.text(totalSaleAmount.toFixed(2));
          totalPurchaseAmountSpan.text(totalPurchaseAmount.toFixed(2));
          totalProfitAmountSpan.text(totalProfitAmount.toFixed(2));
        }
    
       
        updateTotalAmounts();
        setInterval(updateTotalAmounts, 1000); // Her saniye güncelleme yap
      });
    </script>
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>

<script>
  function exportToExcel() {
    try {
      // İlk tablo verileri
      var table = document.getElementById('salesTable');
      var data = XLSX.utils.table_to_book(table).Sheets.Sheet1;

      // İkinci tablo verileri
      var table2 = document.getElementById('salesTableSummary');
      var data2 = XLSX.utils.table_to_book(table2).Sheets.Sheet1;

      // Excel dosyasını oluştur
      var wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, data, 'SatışDetayları'); 
      XLSX.utils.book_append_sheet(wb, data2, 'Toplam Satış Özeti'); 

      // Dosyayı indir
      XLSX.writeFile(wb, 'Satışraporu.xlsx');                                               
    } catch (error) {
      console.error(error);
    }
  }
</script>


  
  </div>

  
<!-- Tablonuzun altına sayfalama bağlantılarını ekleyin -->
<div class="pagination">
    <span class="step-links">
        {% if sales_table.has_previous %}
            <a href="?page=1&start_date={{ start_date }}&end_date={{ end_date }}">&laquo; first</a>
            <a href="?page={{ sales_table.previous_page_number }}&start_date={{ start_date }}&end_date={{ end_date }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sales_table.number }} of {{ sales_table.paginator.num_pages }}.
        </span>

        {% if sales_table.has_next %}
            <a href="?page={{ sales_table.next_page_number }}&start_date={{ start_date }}&end_date={{ end_date }}">next</a>
            <a href="?page={{ sales_table.paginator.num_pages }}&start_date={{ start_date }}&end_date={{ end_date }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }

    .container {
      width: 100%;
      margin: 20px 0;
      box-sizing: border-box;
      padding: 0 20px;
    }

    .section-title {
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }

    .data-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .data-table th, .data-table td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }

    .data-table th {
      background-color: #f2f2f2;
      color: #333;
    }

    .salespeople-table th, .salespeople-table td {
      border: px solid #a0a0a0;
    }

    .sales-info-table th, .sales-info-table td {
      border: 10px solid #e0e0e0;
    }

    .salespeople-table th {
      background-color: #eaf7fd;
    }

    .sales-info-table th {
      background-color: #fde5e5;
    }

    .box {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .box-title {
      color: #333;
      margin-bottom: 10px;
      text-align: center;
    }

    .box-content {
      color: #555;
      text-align: center;
    }

    .date-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      border-radius: 80px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .date-filter label, .date-filter input, .date-filter button {
      flex: 1;
      margin: 5px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 12px;
      font-size: 16px;
      border: solid;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>

  
{% endblock %}
