


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" style="background-color: #03a9f3">
                <strong class="card-title">Hızlı Ürün Ekle</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                                    <form method="POST" novalidate="novalidate" action="#">
                                        {% csrf_token %}
                                        <div class="form-group" >
                                            <label for="name" class="control-label mb-1" >Ürün adı:</label>
                                            <div class="invalid-feedback">Product Name Can't Be Empty</div>
                                            {{ form.name }}
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="stock" class="control-label mb-1">Stok Miktarı:</label>
                                            <div class="invalid-feedback">Product ID Can't Be Empty</div>
                                            {{ form.stock }}
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="maaliyet" class="control-label mb-1">Maaliyet:</label>
                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                             {{ form.maaliyet }}
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="satisFiyati" class="control-label mb-1">Satış Fiyatı:</label>
                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                             {{ form.satisFiyati }}
                                        </div>
                                        <div class="form-group">
                                            <label for="currency" class="control-label mb-1">Birimi:</label>
                                            {{ form.currency }}
                                        </div>
                                        <div class="form-group">
                                            <label for="category" class="control-label mb-1">Ürün Kategorisi:</label>
                                            {{ form.category }}
                                        </div>
{#                                        <div class="form-group">#}
{#                                            <label for="productprice">Birimi:</label>#}
{#                                            <input type="text" class="form-control" id="productprice"#}
{#                                                placeholder="Enter Product Price">#}
{#                                            {{ form.Meta.currency }}#}
{#                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>#}
{##}
{#                                        </div>#}
{#                                        <div class="form-group">#}
{#                                            <label for="productprice">Ürün Grubu:</label>#}
{#                                            <input type="text" class="form-control" id="productprice"#}
{#                                                placeholder="Enter Product Price">#}
{#                                            {{ form.Meta.category }}#}
{#                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>#}
{##}
{#                                        </div>#}
{#                                        <div class="form-group">#}
{#                                            <label for="p">Hızlı Satış:</label>#}
{#                                            <input type="text" class="form-control" id="productprice"#}
{#                                                placeholder="Enter Product Price">#}
{#                                            {{ form.satisFiyati }}#}
{#                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>#}
{##}
{#                                        </div>#}
                                        
                                        <div class="form-group">
                                            <label for="kdvOrani" class="control-label mb-1">Kdv Oranı:</label>
                                            <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                            {{ form.kdvOrani }}
                                        </div>
                                        <div class="form-group">
                                            <label for="barkodNo" class="control-label mb-1">Ürün Barkod No:</label>
                                            {{ form.barkodNo }}
                                        </div>
{#                                        {% if form.errors %}#}
{#                                            <div class="alert alert-danger">#}
{#                                                <strong>Hata!</strong> Lütfen formu kontrol edin:#}
{#                                                <ul>#}
{#                                                    {% for field, errors in form.errors.items %}#}
{#                                                        <li>{{ field }}: {{ errors }}</li>#}
{#                                                    {% endfor %}#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        {% endif %}#}
                                        <div>
                                            <button class="btn btn-primary  mt-5 mx-auto d-block btn-lg"  type="submit">Kaydet </button>
                                        </div>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <script>
                                           $(document).ready(function () {
                                                $("form").submit(function (event) {
                                                    let isEmpty = false;
                                                    let emptyFields = [];

                                                    // İlgili alanların kontrolü ve özel uyarı mesajlarının belirlenmesi
                                                    let fieldChecks = {
                                                        'name': 'Ürün Adı',
                                                        'stock': 'Stok Miktarı',
                                                        'maaliyet': 'Maliyet',
                                                        'satisFiyati': 'Satış Fiyatı',
                                                        'category': 'Kategori'
                                                    };

                                                    for (let fieldName in fieldChecks) {
                                                        let fieldValue = $('[name="' + fieldName + '"]').val().trim();
                                                        if (fieldValue === "") {
                                                            isEmpty = true;
                                                            emptyFields.push(fieldChecks[fieldName]);
                                                        }
                                                    }

                                                    if (isEmpty) {
                                                        event.preventDefault();
                                                        let emptyFieldsString = emptyFields.join(', ');
                                                        alert("Lütfen " + emptyFieldsString + " alanlarını doldurun.");
                                                    }
                                                });
                                           });

                                        </script>
                                    </form>
                    </div>
                </div>
            </div>
        </div> <!-- .card -->
    </div><!--/.col-->
</div>
