<table class="data-table sales-details-table">
    <thead>
      <tr>
        <th>İsim</th>
        <th>Ürün</th>
        <th>Miktar</th>
        <th>Toplam Kar</th>
        <th>Alış Tutarı</th>
        <th>Satış Tutarı</th>
        <th>Tarih</th>
      </tr>
    </thead>
    <tbody>
      {% for sale_info in sales_info %}
        <tr>
          <td>{{ sale_info.sold_by.name }}</td>
          <td>{{ sale_info.product.name }}</td>
          <td>{{ sale_info.quantity_sold }}</td>
          <td>{{ sale_info.sale_amount }}</td>
          <td>{{ sale_info.product.maaliyet }}</td>
          <td>{{ sale_info.product.satisFiyati }}</td>
          <td>{{ sale_info.date_sold }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
