
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Çıkış</title>
</head>
<body>
        <div class="row">
            <div class="col-11 col-md-4 mx-auto mt-5">
                <h2>Oturum Kapatıldı</h2>
                <br>
                <div class="border-top pt-3">
                        <a href="{% url 'sistem' %}">Tekrar Giriş Yap</a>
                </div>
            </div>
        </div>

</body>
</html>


